.contact-section {
  background-color: #080b0a;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact-text-group {
  flex: 1;  
  display: flex;
  flex-direction: column;
  padding-left: 25rem;
}

.contact-info-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;  /* Left align */

}

.contact-info-title {
  font-weight: bold;
  font-size: 1.4rem;
  text-align: left;  /* Text left-aligned */
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;  /* Left align */
  text-align: left;  /* Text left-aligned */
}

.contact-text {
  margin-bottom: 20px;
  width: 80%;
}

.contact-info a {
  color: white;
  text-decoration: none;
}

.copyright-text {
  text-align: right;
  align-self: flex-end; 
}

.btn1 {
  background: transparent;
  position: relative;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid rgb(255,0,0);
  border-radius: 25px;
  outline: none;
  overflow: hidden;
  color: rgb(255,0,0);
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
}

.btn1 span {
  margin: 10px;
  z-index: 2;
  position: relative;
}

.btn1::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: '';
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  left: -5em;
  text-align: center;
  transition: box-shadow 0.5s ease-out;
  z-index: 1;
}

.btn1:hover {
  color: #fff;
  border: 1px solid rgb(255,0,0);
}

.btn1:hover::before {
  box-shadow: inset 0 0 0 10em rgb(255, 0, 0);
}

.btn1 span, svg {
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 1366px) {

  .contact-text-group {
    padding-left: 17rem;
  }

}

@media screen and (max-width: 1024px) {

  .contact-text-group {
    padding-left: 1rem !important;
  
  }

  .contact-info-group {
    margin-right: -20rem;
  }
  
  .contact-info-title {
    font-size: 1.6rem;
    width: 70% !important;
  }
  
  .contact-info {
    font-size: 1.2rem;
  }
  
  .contact-text {
    margin-bottom: 2rem;
    width: 100%;
    font-size: 1.3rem;
  }

  .h1t {
    font-size: 3rem;
    width: 100% !important;
  }
  
  .contact-info a {
    font-size: 1.2rem !important;
  }
}

@media screen and (max-width: 814px) {

  .contact-section {
    flex-direction: column;
  }

  .contact-text-group, .contact-info-group {
    padding-left: 1rem;
    margin-left: 0;  /* Reset the left margin */
  }

    /* Add these lines */
    .contact-text-group {
      order: 1;
    }
    
    .contact-info-group {
      order: 2;
    }

    .copyright-text {
      order: 3;
      margin-bottom: -1rem !important;
    }

  .contact-text-group {
    padding-left: 1rem;
  }

  .contact-text-group h1 {
    font-size: 2.7rem !important;
    width: 100% !important;
  }

  .contact-text-group p {
    font-size: 1rem !important;
    width: 50% !important;
  }
  
  .contact-info-group {
    padding: 1rem;
  }
  
  .contact-info-title {
    font-size: 1.4rem !important;
    margin-top: 8rem;
  }
  
  .contact-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;  /* Left align */
    text-align: left;  /* Text left-aligned */
  }

  .contact-info p {
    margin-top: -10rem;
  }
  
  .contact-text {
    margin-bottom: 5px !important;
    width: 70%;
  }
  
  .contact-info a {
    color: white;
    text-decoration: none;
  }
  
  .copyright-text {
    text-align: right;
    align-self: flex-end; 
    margin-left: -22rem !important;
    margin-bottom: 1rem !important;
  }
  
  .btn1 {
    background: transparent;
    position: relative;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid rgb(255,0,0);
    border-radius: 25px;
    outline: none;
    overflow: hidden;
    color: rgb(255,0,0);
    transition: color 0.3s 0.1s ease-out;
    text-align: center;
    margin-top: -8rem;
  }

}

/* ---------- 430px Media Queries ---------- */

@media screen and (max-width: 430px) {

  .contact-section {
    flex-direction: column;
  }

  .contact-text-group, .contact-info-group {
    padding-left: 1rem;
    margin-left: 0;  /* Reset the left margin */
  }

    /* Add these lines */
    .contact-text-group {
      order: 1;
    }
    
    .contact-info-group {
      order: 2;
    }

    .copyright-text {
      order: 3;
      margin-bottom: -1rem !important;
    }

  .contact-text-group {
    padding-left: 1rem;
  }

  .contact-text-group h1 {
    font-size: 2.7rem !important;
    width: 100% !important;
  }

  .contact-text-group p {
    font-size: 1rem !important;
    width: 90% !important;
  }
  
  .contact-info-group {
    padding: 1rem;
  }
  
  .contact-info-title {
    font-size: 1.4rem !important;
    margin-top: 8rem;
  }
  
  .contact-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;  /* Left align */
    text-align: left;  /* Text left-aligned */
  }

  .contact-info p {
    margin-top: -10rem;
  }
  
  .contact-text {
    margin-bottom: 5px !important;
    width: 70%;
  }
  
  .contact-info a {
    color: white;
    text-decoration: none;
  }
  
  .copyright-text {
    text-align: right;
    align-self: flex-end; 
    margin-left: -22rem !important;
    margin-bottom: 1rem !important;
  }
  
  .btn1 {
    background: transparent;
    position: relative;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid rgb(255,0,0);
    border-radius: 25px;
    outline: none;
    overflow: hidden;
    color: rgb(255,0,0);
    transition: color 0.3s 0.1s ease-out;
    text-align: center;
    margin-top: -8rem;
  }

}