.logo-container {
  position: absolute;
  top: 2px;
  left: 2rem;
  z-index: 1;
  display: absolute;
}

.logo {
  width: 8rem;
  height: auto;
}

.logo-tint {
  width: 13rem;
  height: auto;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  padding: 2rem;
}

.carousel-image {
  width: 280px;
  height: 280px;
  object-fit: cover;
  margin: 0 10px;
  transition: transform 0.3s ease;
  cursor: pointer;
  border: solid 3px white;
  border-radius: 1rem;
}

.carousel-image:hover {
  transform: scale(1.1);
}

.image-container {
  display: flex;
  align-items: center;
  position: relative;
  overflow: visible;
}

.image-slider {
  display: flex;
  white-space: nowrap;
  scroll-behavior: smooth;
}

.arrow-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;
  font-size: 3.5rem;
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: color 0.3s ease, transform 0.3s ease;
}

.arrow-button:hover {
  color: orange;
  transform: translateY(-50%) scale(1.25);
}


.arrow-button.left {
  left: -65px;
}

.arrow-button.right {
  right: -65px;
}

.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-img {
  max-width: 80%;
  max-height: 80vh;
}

.close-button-wrapper {
  position: absolute;
  top: 2rem;
  right: 2rem;
  z-index: 1;
}

.modal-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.modal-arrow-left {
  font-size: 2rem !important;
  left: 20rem;
}

.modal-arrow-right {
  font-size: 2rem !important;
  right: 20rem;
}

@media screen and (max-width: 1366px) {

  .modal-arrow-left {
    font-size: 2rem !important;
    left: 2.3rem;
    top: 30rem !important;
  }
  
  .modal-arrow-right {
    font-size: 2rem !important;
    right: 2.3rem;
    top: 30rem;
  }
}

@media screen and (max-width: 1024px) {

  h1 span, p span {
    width: 60rem !important;
    margin-left: -30rem !important;
  }

  .carousel-image {
    width: 13rem;
    height: 13rem;
    margin: 0 4px;
    margin-bottom: 13rem !important;
  }

  .arrow-button.left {
    left: -4rem;
    bottom: -6rem;
  }

  .arrow-button.right {
    right: -4rem;
    bottom: -6rem;
  }
  
}

@media screen and (max-width: 814px) {

  .logo-container {
    left: 1rem;
  }

  .logo {
    width: 4rem;
  }

  h1 {
    font-size: 3rem !important;
    top: 5rem;
  }

  p {
    font-size: 1.2rem !important;
    margin-bottom: 10rem !important;
    top: 5rem;
  }

  h1 span, p span {
    content: "";
    position: absolute;
    height: 1px;
    background-color: white;
    width: 40rem !important;
    bottom: -0.2rem;
    margin-left: -21rem !important;
  }
  
  .carousel-image {
    width: 100px !important;
    height: 100px !important;
    margin: 0 4px;
    margin-bottom: 13rem !important;
  }

  .arrow-button {
    font-size: 2.5rem;
  }

  .arrow-button.left {
    left: -2.5rem;
    bottom: -7.5rem;
  }

  .arrow-button.right {
    right: -2.5rem;
    bottom: -7.5rem;
  }

  .arrow-button:hover {
    transform: translateY(-50%); 
  }

  .modal img {
    width: 70%;
    height: auto;
  }

  .modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .modal-img {
    max-width: 97% !important;
    max-height: 80vh;
    margin-bottom: 3rem;
  }
  
  .close-button-wrapper {
    position: absolute;
    top: 3rem;
    right: 3rem;
    z-index: 1;
  }
  
  .modal-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
  }
  
  .modal-arrow-left {
    font-size: 1rem !important;
    left: 5rem;
    top: 12rem !important;
  }
  
  .modal-arrow-right {
    font-size: 1rem !important;
    right: 5rem;
    top: 12rem;
  }

}

/* ---------- 430px Media Queries ---------- */

@media screen and (max-width: 430px) {
  
  .logo-container {
    left: 1rem;
  }

  .logo {
    width: 6rem;
  }

  h1 {
    font-size: 3rem !important;
  }

  p {
    font-size: 1.2rem !important;
    margin-bottom: 12rem !important;
  }

  h1 span, p span {
    content: "";
    position: absolute;
    height: 1px;
    background-color: white;
    width: 25rem !important;
    bottom: -0.2rem;
    margin-left: -12.5rem !important;
  }
  
  .carousel-image {
    width: 75px !important;
    height: 75px !important;
    margin: 0 4px;
    margin-bottom: 10rem !important;
  }

  .arrow-button {
    font-size: 2.5rem;
  }

  .arrow-button.left {
    left: -2.5rem;
    bottom: -6.5rem;
  }

  .arrow-button.right {
    right: -2.5rem;
    bottom: -6.6rem;
  }

  .arrow-button:hover {
    transform: translateY(-50%); 
  }

  .modal img {
    width: 70%;
    height: auto;
  }

  .modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .modal-img {
    max-width: 97% !important;
    max-height: 80vh;
    margin-bottom: 5rem;
  }
  
  .close-button-wrapper {
    position: absolute;
    top: 3rem;
    right: 3rem;
    z-index: 1;
  }
  
  .modal-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
  }
  
  .modal-arrow-left {
    font-size: 1rem !important;
    left: 5rem;
    top: 44rem !important;
  }
  
  .modal-arrow-right {
    font-size: 1rem !important;
    right: 5rem;
    top: 44rem;
  }

}

@media screen and (max-width: 393px) {

  h1 {
    font-size: 2.5rem !important;
  }

  p {
    font-size: 1rem !important;
    margin-bottom: 12rem !important;
  }

  h1 span, p span {
    content: "";
    position: absolute;
    height: 1px;
    background-color: white;
    width: 23rem !important;
    bottom: -0.2rem;
    margin-left: -11.5rem !important;
  }

  .arrow-button.left {
    font-size: 1.9rem;
    left: -1.8rem;
    bottom: -5.6rem;
  }

  .arrow-button.right {
    font-size: 1.9rem;
    right: -1.8rem !important;
    bottom: -5.6rem !important;
  }

}

@media screen and (max-width: 375px) {

  h1 span, p span {
    content: "";
    position: absolute;
    height: 1px;
    background-color: white;
    width: 22rem !important;
    bottom: -0.2rem;
    margin-left: -11rem !important;
  }

  .logo {
    width: 4rem;
  }

  .carousel-image {
    width: 70px !important;
    height: 70px !important;
    margin: 0 4px;
    margin-bottom: 10rem !important;
  }

  .modal-arrow-left {
    font-size: 1rem !important;
    left: 5rem;
    top: 38rem !important;
  }
  
  .modal-arrow-right {
    font-size: 1rem !important;
    right: 5rem;
    top: 38rem;
  }

  .close-button-wrapper {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    z-index: 1;
  }

}
